<%= simple_form_for @booking do |f|%>
  <div class="checkin">
    <label for="checkin">Check-in:</label>
    <div class="dateandtime">
      <%= f.input :start_time, as: :date, html5: true %>
      <%= f.input :start_time, as: :time, html5: true %>
    </div>
  </div>
  <div class="checkout">
    <label for="checkout">Check-out:</label>
      <div class="dateandtime">
        <%= f.input :end_time, as: :time, html5: true %>
      </div>
  </div>
  <div class="btn btn-flat-show">
    <%= f.submit %>
  </div>
<% end %>
