<div class="main-dash">
  <div class="banner_guitar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/bdyhigkzupmv/6lySzcy7qcIN1tf81Qkus/5b5ac73daeaf61f9057c0b0dd8447a31/hero-guitar-outro.jpg);">
      <h1><strong>Hello Kurt Cobain!</strong></h1>
  </div>
    <div class="d-flex flex-row" style="min-height: 100vh">
      <div class="container-all-dash">
        <div class="container-dash">
          <div class="user-photo">
              <%= image_tag "kurt-cobain.jpg" %>
              <h2><strong>Kurt Cobain</strong></h2>
                <div class="details-user">
                  <p><i class="fa-solid fa-location-dot"></i> Sky Land</p>
                  <p><strong>Instruments: </strong>Guitar</p>
                  <p><strong>E-mail: </strong>kurt.cobain27@thesky.com</p>
                  <p><strong>Password: </strong>****************</p>
                </div>
          </div>
        </div>
        <div class="all-details">
          <div class="bookings-dash">
            <h2 class="bookings-studios">My Bookings</h2>
              <% if @user.bookings.any? %>
                <% @user.bookings.each do |booking| %>
                  <div class="card" style="width: 18rem;">
                    <%= cl_image_tag booking.studio.photo.key %>
                    <h2><%= booking.studio.name %></h2>
                    <p>From <%= booking.start_time %></p>
                    <p>To <%= booking.end_time %></p>
                  </div>
                <% end %>
              <% else %>
                <%= "You have no bookings scheduled!" %>
              <% end %>
          </div>
          <div class="studios-dash">
            <h2 class="bookings-studios">My Studios</h2>
              <% if @user.studios.any? %>
                <% @user.studios.each do |studio| %>
                  <div class="card" style="width: 18rem;">
                    <%= cl_image_tag studio.photo.key %>
                    <h2><%= studio.name %></h2>
                  </div>
                <% end %>
              <% else %>
                <%= "You have no studios created!" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
