<div class="cards m-5">
  <% @studios.each do |studio| %>
    <%= link_to studio_path(studio), class:"text-decoration-none" do %>
      <% if studio.photo.attached? %>
        <div class="card-category" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= cl_image_path studio.photo.key, height: 300, crop: :fill %>')">
            <h1><%= studio.name %></h1>
            <h2><i class="fa-solid fa-location-dot"></i> <%= studio.location %></h2>
            <br>
            <p><%= studio.price_per_hour %>€/h</p>
        </div>
      <% else %>
        <div class="card-category" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= image_path "tree.svg" %>')">
          <h1><%= studio.name %></h1>
          <i class="fa-solid fa-location-dot"></i> <%= studio.location %>
          <br>
          <%= studio.price_per_hour %>€/h
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
