<div class="cards">
  <% @studios.each do |studio| %>
    <% if studio.photo.attached? %>
      <div class="card-category" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= cl_image_path studio.photo.key, height: 300, crop: :fill %>')">
        <h1><%= studio.name %></h1>
        <%= studio.description %>
        <%= studio.location %>
        <%= studio.price_per_hour %>
        <%= studio.max_occupancy %>
        <%= studio.is_soundproof %>
      </div>
    <% else %>
    <div class="card-category" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= image_path "tree.svg" %>')">
        <h1><%= studio.name %></h1>
        <%= studio.description %>
        <%= studio.location %>
        <%= studio.price_per_hour %>
        <%= studio.max_occupancy %>
        <%= studio.is_soundproof %>
      </div>
    <% end %>
  <% end %>
</div>
