<div class="container d-flex mt-4">
  <div class="row container_show">
    <div class="studio-image text-white d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @studio.photo.key %>)">
      <h2 class="show_name text-center"><%= @studio.name %></h2>
    </div>

    <div class="d-flex col-12">
      <div class="textandbook">
        <div class="details">
          <p><strong>Description: </strong><%= @studio.description%></p>
          <p><strong>Location: </strong><%= @studio.location %></p>
          <p><strong>Price per hour: </strong><%= number_to_currency(@studio.price_per_hour) %></p>
          <p><strong>Soundproof: </strong><%= @studio.is_soundproof ? "Yes" : "No" %></p>
          <p><strong>Max Occupancy: </strong><%= @studio.max_occupancy %></p>
        </div>
      </div>

      <div class="booking-form mt-4">
        <%= simple_form_for [@studio, @booking] do |f|%>
          <div class="checkin">
            <label for="checkin">Check-in:</label>
            <div class="dateandtime">
              <%= f.input :start_time, as: :date, html5: true %>
              <%= f.input :start_time, as: :time, html5: true %>
            </div>
          </div>
          <div class="checkout">
            <label for="checkout">Check-out:</label>
              <div class="dateandtime">
                <%= f.input :end_time, as: :time, html5: true %>
              </div>
          </div>
          <div>
            <%= f.submit class: "btn btn-flat-show" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-6 ms-3" style="width: 50%; height: calc(100vh - 106px); position: sticky; top: 106px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
