<div class="main_show">
  <div class="container_show">
    <h2 class="show_name"><%= @studio.name %></h2>
      <div class="image-preview">
        <% if @studio.photo.attached? %>
          <%= cl_image_tag @studio.photo.key %>
        <% else %>
          <%= image_tag "studio" %>
        <% end %>
      </div>
      <div class="textandbook">
        <div class="details">
          <p><strong>Description: </strong><%= @studio.description%></p>
          <p><strong>Location: </strong><%= @studio.location %></p>
          <p><strong>Price per hour: </strong><%= number_to_currency(@studio.price_per_hour) %></p>
          <p><strong>Soundproof: </strong><%= @studio.is_soundproof ? "Yes" : "No" %></p>
          <p><strong>Max Occupancy: </strong><%= @studio.max_occupancy %></p>
        </div>
        <div class="booking-form">
        <%= simple_form_for [@studio, @booking] do |f|%>
          <div class="checkin">
            <label for="checkin">Check-in:</label>
            <div class="dateandtime">
              <%= f.input :start_time, as: :date, html5: true %>
              <%= f.input :start_time, as: :time, html5: true %>
            </div>
          </div>
          <div class="checkout">
            <label for="checkout">Check-out:</label>
              <div class="dateandtime">
                <%= f.input :end_time, as: :time, html5: true %>
              </div>
          </div>
          <div class="btn btn-flat-show">
            <%= f.submit %>
          </div>
        <% end %>
        </div>
      </div>
  </div>
</div>
